/* Dados Iniciais do CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}
/* fim dos dados iniciais do CSS */

/* Estilização do corpo, header e nav */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

header {
    padding: 10px 0;
    text-align: center;
    background-image: url("../img/fundo-topo.jpg");
}

header h1 {
    margin: 0;
    height: 84px;
}

nav a {
    color: #000;
    text-decoration: none;
}

nav a:hover {
    color: #6dd432;
}

nav li {
    display: inline;
    margin-right: 10px;
    padding-right: 30px;
    background-image: url("../img/patinha-preta.png");
    background-repeat: no-repeat;
    background-position: center right;
}

#itemContato {
    background-image: none;
}

nav {
    padding: 15px 0;
    text-align: center;
}

/* Fim da estilização do corpo, header e nav */

/* Estilização da sessão "SOBRE NÓS" */
.secaosobre {
    background-color: #bdff9c;
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 75px;
}

#tituloprodutos {
    text-align: center;
    padding: 15px;
}

.sobrenos {
    max-width: 400px;
    text-align: justify;
}

/* Fim da estilização da sessão "SOBRE NÓS" */


.texto-centralizado {
    text-align: center;
    margin: 10px;
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
}

/* Estilização da sessão "PRODUTOS" */

.produtos {
    padding: 30px;
}

.produto figure {
    border: 6px solid #bdff9c;
    padding: 10px;
    line-height: 160px;
    margin: 0 0 15px 0;
    text-align: center;
    width: 200px;
}

.flex-container {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.produto {
    text-align: center;
}

.produto figure img {
    vertical-align: middle;
}

.comprarbtn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-color: #bdff9c;
    padding: 20px 20px;
    border: none;
    border-radius: 10px;
    color: #000000;
    text-decoration: none;
}

.comprarbtn:hover {
    background-color: #55ff00;
    color: #fff;
}

.comprarbtn:active {
    background-color: #6dd432;
    color: #fff;
}

/* Fim da estilização da sessão "PRODUTOS" */

/* Estilização da sessão "SERVIÇOS" */

.serviços {
    background-color: #bdff9c;
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: center;
    gap: 75px;
}

.serviços-flex {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    text-align: justify;
}
.serviços-imagens {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.serviços-imagens img {
    margin: 1px;
    padding: 1px;
    display: flex;
}

/* Fim da estilização da sessão "SERVIÇOS" */

/* Estilização da sessão "CONTATO" */

.container {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.contato-flex {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

#wip-text {
    text-align: center;
    padding: 15px;
    background-color: #000000;
    color: red;
    position: relative;
    bottom: 325px;
    animation: blink 3s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Responsividade */

@media (max-width: 999px) {
    * {
        max-width: 100%;
    }
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .secaosobre {
        flex-direction: column;
        align-items: center;
    }

    .serviços {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .serviços p {
        text-align: justify;
    }

    .serviços-flex {
        flex-direction: column;
        align-items: center;
    }
    .serviços-imagens {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .flex-container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .contato-flex {
        flex-direction: column;
        align-items: center;
    }

    #wip-text {
        position: relative;
        bottom: 550px;
    }

    nav li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px 0 5px 35px;
        background-image: url("../img/patinha-preta.png");
        background-repeat: no-repeat;
        background-position: right;
    }

    #itemContato {
        background-image: url("../img/patinha-preta.png");
        padding-left: 35px;
        background-position: right;
    }

}